/*homepagestyle.css*/
 
.heading {
    color: white;
    font-family: 'Georgia';
    font-variant: small-caps;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.italics {
    font-style: italic;
    text-align: center;
}

body {
 background-image: url("https://media.istockphoto.com/id/521714583/photo/new-york-city-midtown-with-empire-state-building-at-sunset.jpg?s=612x612&w=0&k=20&c=paLoZfZnaZSfaBK_DxLls_Ii0hD3r2PBKSlS6M1QxVU=");
 background-size: cover;
 
}

main {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.icons {
 font-size: 70px;
}

div h3 {
 font-size: 32px;
 font-family: 'Arial';
 font-variant: small-caps;
 font-weight: bold;
}

.caption {
 font-size: 20px;
 font-family: 'Courier New';
 font-weight: bold;
}


.container {
 display: flex;
 gap: 40px;
 justify-content: space-evenly;
}

.selections {
 border: 2px solid black;
 border-radius: 40px;
 align-items: center;
 text-align: center;
 background-color: #89CFF0;
 width: 400px;
 padding: 20px;
 aspect-ratio: 1/1;
 cursor: pointer; 
}

.container a {
 text-decoration: none;
 color: inherit;
 display: block;
 display: flex;
 flex-direction: column;
}

br .gap {
 display: block;
 content: "";
 margin-top: 5px
}

.subheading {
 font-weight: bold;
 font-size: 24px;
}

#end {
 font-style: italic;
 font-size: 37px;
}

#footnotes {
 background-color: #9e969c;
 opacity: 50%;
 padding: 5px;
}

.footnote {
    font-size: 15px;
    color: white;
    position: relative;
    bottom: 0;
    left: 0 ;
    padding: 10px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    
}















































































 
 
