/*homepagestyle.css*/
 
.heading {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: lowercase;
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.footnotes {
    font-size: small;
    text-align: center;
    font-style: italic;
}

main {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.listfeatures {
    background-color: rgb(167, 206, 248);
    border-color: rgb(0, 13, 58);
}

.h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
