/*homepagestyle.css*/
 
.heading {
    color: white;
    font-family: 'Courier New';
    font-variant: small-caps;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.italics {
    font-style: italic;
    text-align: center;
}

.footnotes {
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0 ;
    padding: 10px;
    font-style: italic;
    
}

body {
 background-image: url("https://media.istockphoto.com/id/521714583/photo/new-york-city-midtown-with-empire-state-building-at-sunset.jpg?s=612x612&w=0&k=20&c=paLoZfZnaZSfaBK_DxLls_Ii0hD3r2PBKSlS6M1QxVU=");
 background-size: cover;
 
}

main {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.icons {
 font-size: 70px;
}

div h3 {
 font-size: 40px;
 font-family: 'Georgia';
 font-variant: small-caps;
 font-weight: bold;
}

.caption {
 font-size: 20px;
 font-family: 'Courier New';
}


.container {
 display: flex;
 gap: 40px;
 justify-content: space-evenly;
}

.selections {
 display: flex;
 border: 2px black;
 border-radius: 40px;
 align-items: center;
 text-align: center;
 background-color: #fcf9d7;
 width: 350px;
 height: 350px;
 padding: 20px;
 aspect-ratio: 1/1;
 cursor: pointer; 
}

.container a {
 text-decoration: none;
 color: inherit;
}



















































































 
 
